{% comment %} Collection hero banner {% endcomment %}
<section class="collectionHero section">
  <img src="{{ collections['all-watch-straps'].image.src | img_url: '' }}" alt="{{}}" />
  <h1>{{ collections['all-watch-straps'].title }}</h1>
</section>